body{
    background-color:whitesmoke;
}
header{
    text-align:center;
}

.code_banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center
    width:50%;
    height:10%;
    margin:0;
    padding:0;
}

.code-img{
    width: 20px;
    height:20px;
}
.navmenu{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul{
    display:flex;
    flex-direction: row;
    padding:10px;
    width:100%;
    background-color:darkseagreen;
}
li{
    list-style-type: none;
    padding:0px 10px 0px 10px;
}
a{
    text-decoration: none;
    color:black;
}

/*Contact Form Page*/

.form{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:darkseagreen;
    margin:10%;
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:2EM;
    color:white;
    text-align:center;
    background-color:darkseagreen;
}
p{
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1em;
    margin:10px;
}


input{
    margin:5%;
}

textarea{
    margin:22px;
    font-family:Georgia, 'Times New Roman', Times, serif

}

button{
    margin:10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*Project Page*/
.projects{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    text-align: center;

}

.project-card{
    background-color: antiquewhite;
    border-radius: 5%;
}